
// --------------------------------------------------
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.


	//Shades of blue
	$primary_master_light_blue		:#32a9c5;
	$primary_master_light_blue1		:#12b2d8;
	$primary_master_light_blue2		:#139cbc;
	$primary_master_light_blue3		:#005265;

	//Shades of silver
	$primary_master_light_silver0	:#7e7e7e;
	$primary_master_light_silver1	:#acacac;
	$primary_master_light_silver2	:#626262;
	$primary_master_light_silver4	:#4b4b4a;
	$primary_master_light_silver5	:#60605f;
	$primary_master_light_silver6	:#d9d9d9;
	$primary_master_light_silver7	:#282828;
	$primary_master_light_silver8	:#d7d7d7;
	$primary_master_light_silver9	:#333333;
	$primary_master_light_silver10	:#3a3a3a;
	$primary_master_light_silver11	:#909090;
	$primary_master_light_silver12	:#535454;
	$primary_master_light_silver13	:#373838;
	$primary_master_light_silver14	:#bfbfbf;
	$primary_master_light_silver15	:#2c2c2c;
	$primary_master_light_silver16	:#e3e2e2;

//End




//----------------------------------------------------
//Basic colors
//----------------------------------------------------
	$black	:#000000;
	$white	:#ffffff;
//End




//----------------------------------------------------
//Messasing colors
//----------------------------------------------------
	$error_msg_red		:#d9534f;
	$form_error_red		:#753836;
	$form_error_icon	:#a95956;
	$form_success_green	:#43643a;
	$form_success_icon	:#4cc42c;
	$required_red		:#ff0101;
	$success_msg_green	:#5cb85c;
//End